body {
  background-color: #538a3e;
  min-height: 2500px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.products {
  background-color: #538a3e;
  width: 80%;
  float: left;
}

.companies {
  background-color: #538a3e;
  width: 20%;
  float: right;
  height: auto;
  min-height: 100%;
}

.company {
  text-align: center;
}

.company-image {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.company-name {
  cursor: pointer;
}

.allProductsWithoutFilter {
  font-size: 18px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
