<app-header></app-header>
<body>
  <div *ngIf="products">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" class="products">
        <div
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let product of products"
          class="product-wrapper"
        >
          <app-product [product]="product"></app-product>
        </div>
      </div>

      <div *ngIf="companies" class="companies">
        <p class="allProductsWithoutFilter" (click)="displayAllProducts()">
          TOATE PRODUSELE
        </p>
        <div *ngFor="let company of companies" class="company">
          <img
            src="{{ company.image }}"
            class="company-image"
            (click)="displayProductsByCompany(company)"
          />
          <div (click)="displayProductsByCompany(company)">
            <p class="company-name">
              {{ company.username }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
