<app-header></app-header>
<body>
  <div *ngIf="ingredients">
    <div class="grid-container">
      <div *ngFor="let ingredient of ingredients">
        <div class="grid-item">
          <label class="container">
            <input type="checkbox" />
            {{ ingredient.name }}
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonGenerateRecipes">
    <button mat-button class="generateRecipes">GENEREAZA RETETE</button>
  </div>
</body>
