.menu_item {
  display: inline-block;
  margin-right: 10px;
}

.menu_list {
  display: inline-block;
  margin: 0;
}

.menu_list_wrapper {
  display: flex;
  background-color: #8CC272;
}

.menu{
  padding-top: 65px;
}

.menu_link{
  color: #538A3E;
  font-size: 45px;
  margin-right: 45px;
  text-decoration: none;
}

.menu_link:hover{
  color: #FFF87A;
  zoom: normal;
  text-decoration: underline;
  text-decoration-line:underline;
}


