<div class="menu_list_wrapper">
  <img class="img-logo" src="../../../assets/img/wasteless-logo.png"/> 
   <div class="menu"> 
    <ul class="menu_list">
      <li class="menu_item" >
       <a class="menu_link" [routerLink]="path.PRODUCTS">Produse</a>
      </li>
      <li class="menu_item">
       <a class="menu_link" [routerLink]="path.RECIPES">Rețete</a>
      </li>
      <li class="menu_item">
       <a class="menu_link" [routerLink]="path.MY_SHOPPING_LIST">Produsele mele</a>
      </li>
    </ul>
  </div>
</div>
