<app-header></app-header>
<div *ngIf="hasProducts()" class="products">
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let product of myProducts"
        class="product-wrapper"
      >
        <app-product
          [product]="product"
          [addedToShoppingList]="true"
        ></app-product>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasProducts()" class="nonObject">
  <p>Nu exista produse in cosul tau de cumparaturi!</p>
</div>
