.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.products {
  background-color: #538a3e;
  min-height: 700px;
}

.nonObject {
  background-color: #538a3e;
  min-height: 700px;
}
