<div *ngIf="product">
  <mat-card class="mat-elevation-z4" class="product">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <img mat-card-image src="{{ product.image }}" (click)="playSound()" />
    <mat-card-content>
      <p>{{ product.price }} lei</p>
    </mat-card-content>
    <mat-card-content>
      <p>Data de expirare: {{ product.expire_date }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Vandut de: {{ product.companyName }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="!addedToShoppingList">
      <button mat-button (click)="addProductToMyShoppingList()">
        Add product to my list
      </button>
    </mat-card-actions>
  </mat-card>
</div>
